body {
    font-family: Verdana,sans-serif;
}

table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

td {
    border: 0px;
    padding: 4px;
}

tr.odd {
    background-color: #D3CBC5;
}

tr.even {
    background-color: #D3C5C5;
}

/* email results table classes */
.mailhead {cursor:pointer;}
.mailbody {
    background-color: #F0F0F0;
    padding: 0px;
}
.hidden {display:none;}
.empty {display:none;}
.showing {display:none;}
.shown {}

.recipients {
    background-color: #F2F5A9;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.recipients p {
    margin: 0px;
}

.tags {
    background-color: #BCF5A9;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tags p {
    margin: 0px;
}

.tag_cloud {
    background-color: #81F7F3;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #08088A;
    text-align: justify;
}

.search_details p {
    background-color: #C3FFB5;
    width: 300px;
    padding: 10px;
    margin: 5px;
}
