<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

{% load dajaxice_templatetags %}

<html>
<head>
<title>Mailshare Advanced Search</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mailshare.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/jquery-ui-1.8.16.custom.css" />
<script src="{{ STATIC_URL }}jquery/jquery-1.6.4.js"></script>
{% dajaxice_js_import %}
<script src="{{ STATIC_URL }}jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}jquery-ui/jquery-ui-1.8.16.custom.min.js"></script>

</head>
<body>
<h1>Mailshare Advanced Search</h1>

<p><a href="../">Home</a></p>

<form id="search_form">
{% if teams|length > 0 %}
<p>
Team: <select id="team" title="Filter results by team" name="recipient-1">
    <option value="0">All</option>
    {% for team in teams %}
        <option value="{{ team.contact_id }}" >{{ team.name }}</option>
    {% endfor %}
</select>
</p>
{% endif %}

<p>Full text search: <input id="query" name="query-2" value="" /></p>
<p>Exact text in body: <input id="exactbody" name="exactbody-3" value="" /></p>
<p>Exact text in subject: <input id="exactsubject" name="exactsubject-4" value="" /></p>
<p>Tag: <input id="tag_id" name="tag_id-5" value="" /></p>
<p>Sender: <input id="sender" name="sender-6" value="" /></p>
<p>Recipient: <input id="recipient" name="recipient-7" value="" /></p>
<p>Sender or recipient: <input id="contact" name="contact-8" value="" /></p>
<p>Max days into past: <input id="days" name="days-9" value="30" /></p>
<p><button id="submit_button" type="button">Search</button></p>
</form>

<script type="text/javascript">
tag_response_callback = null;
function fetch_tag_completion(request, response) {
    tag_response_callback = response;
    Dajaxice.mailshare.mailshareapp.fetch_tag_completion(Dajax.process,{'text':request.term});
}

function update_tag_completion(data) {
    if(tag_response_callback) {
        tag_response_callback(data.tags);
    }
}

contact_response_callback = null;
function fetch_contact_completion(request, response) {
    contact_response_callback = response;
    Dajaxice.mailshare.mailshareapp.fetch_contact_completion(Dajax.process,{'text':request.term});
}

function update_contact_completion(data) {
    if(contact_response_callback) {
        contact_response_callback(data.contacts);
    }
}


$(document).ready(function() {
    $("#submit_button").click(function() {
        /* remove empty fields; see http://stackoverflow.com/questions/608730 */
        serializedFormStr = $("#search_form :input[value]").serialize()
        window.location.href = '/search?' + serializedFormStr;
    });

    $("#tag_id").autocomplete({source: fetch_tag_completion});
    $("#sender").autocomplete({source: fetch_contact_completion});
    $("#recipient").autocomplete({source: fetch_contact_completion});
    $("#contact").autocomplete({source: fetch_contact_completion});
});
</script>

</body>
</html>
