<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

{% load dajaxice_templatetags %}

<html>
<head>
<title>Mailshare</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mailshare.css" />
<script src="{{ STATIC_URL }}jquery/jquery-1.6.4.js"></script>
{% dajaxice_js_import %}
<script src="{{ STATIC_URL }}jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mailshare_index.js"></script>

</head>
<body>
<h1>Mailshare</h1>
<form action="search/" name="search" method="GET">
{% if hidden_form %}
    {% autoescape off %}{{ hidden_form }}{% endautoescape %}
{% endif %}
<input id="query" name="query-1" value="" />

{% if teams|length > 0 %}
<select id="team" title="Filter results by team" name="recipient-2" onchange="fetch_index_tag_cloud();" onkeyup="fetch_index_tag_cloud();">
    <option value="0">All</option>
    {% for team in teams %}
        <option value="{{ team.contact_id }}" {% ifequal selected_team_id team.contact_id %}selected="selected"{% endifequal %}>{{ team.name }}</option>
    {% endfor %}
</select>
{% endif %}

<input id="submit" type="submit" value="Search" />
<a href="advanced/">Advanced search</a>
</form>
<p>Tag cloud from emails in the last week:</p>
<div id="stats">
</div>
{% autoescape off %}{{ footnote }}{% endautoescape %}
</body>
</html>
