<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

{% load dajaxice_templatetags %}

<html>
<head>
<title>Mailshare</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mailshare.css" />
<script src="{{ STATIC_URL }}jquery.js"></script>
{% dajaxice_js_import %}
<script src="{{ STATIC_URL }}jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<h1>Mailshare</h1>
<form action="search/" name="search" method="GET">
{% if hidden_form %}
    {% autoescape off %}{{ hidden_form }}{% endautoescape %}
{% endif %}
<input id="query" name="query-1" value="" />
<input id="submit" type="submit" value="Search" />
</form>
<p>Tag cloud from emails in the last week:</p>
<div class="tag_cloud">
    {% autoescape off %}{{ tag_cloud }}{% endautoescape %}
</div>
</body>
</html>
