<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

{% load dajaxice_templatetags %}

<html>
<head>
<title>Mailshare Search</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mailshare.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/jquery-ui-1.8.16.custom.css" />
<script src="{{ STATIC_URL }}jquery/jquery-1.6.4.js"></script>
{% dajaxice_js_import %}
<script src="{{ STATIC_URL }}jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}jquery-ui/jquery-ui-1.8.16.custom.min.js"></script>
<script src="{{ STATIC_URL }}mailshare.js"></script>

</head>
<body>
<h1><a href="/">Mailshare Search</a></h1>
<form action="/search/" name="search" method="GET">
<input id="query" name="{{ query_name }}" value="" />
{% if hidden_form %}
    {% autoescape off %}{{ hidden_form }}{% endautoescape %}
{% endif %}
<input id="submit" type="submit" value="Search" />
</form>

{% if search_html %}
    <div class="search_details">
    {% autoescape off %}{{ search_html }}{% endautoescape %}
    </div>
{% endif %}

{% if tag_cloud %}
    <p>Tag cloud for these results:</p>
    <div class="tag_cloud">
        {% autoescape off %}{{ tag_cloud }}{% endautoescape %}
    </div>
{% endif %}

{% if results %}
    <div class="multi_bar">
        <input type="button" onclick="select_all_or_none()" value="All/None" />
        <input type="button" onclick="invert_selection()" value="Invert" />
        <span id="multi_bar_tags">Select emails to view and edit their tags.</span>
    </div>

    <table>
    {% for result in results %}
        {% if expanded_html %}
        <tr class="odd">
        {% else %}
        <tr onclick="toggle_email_body({{ result.id }})" class="mailhead {% cycle 'odd' 'even' %}">
        {% endif %}
            <td>
                <form><input class="mailcheck" type="checkbox" name="check_{{ result.id }}"
                           onclick="var event = arguments[0] || window.event; event.cancelBubble = true; if(event.stopPropagation) {event.stopPropagation()}; checkbox_clicked(this, {{ result.id }});" /></form>
            </td>
            <td>{{ result.date }}</td>
            <td>{{ result.sender }}</td>
            <td>{{ result.subject }}</td>
        </tr>
	<tr>
            {% if expanded_html %}
            <td colspan="4" class="mailbody shown" id="body_{{ result.id }}">
                {% autoescape off %}{{ expanded_html }}{% endautoescape %}
            </td>
            {% else %}
	    <td colspan="4" class="mailbody empty" id="body_{{ result.id }}"></td>
            {% endif %}
	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No results found.</p>
{% endif %}
</form>    
</body>
</html>
